  
<div class="d-flex justify-content-start" id="upper-toolbar">
  <div class="p-2">
    <%= link_to 'New workout', new_user_workout_path(current_user.id), class: 'btn' %>
  </div>
  <div class="p-2">
    <%= link_to 'Download history', user_routines_path(current_user.id), class: 'btn' %>
  </div>
</div>

<div class="d-flex justify-content-center table-title">
  <h3>Workouts</h3>
</div>

<table class="table table-responsive-lg table-hover">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Description</th>
    <th class="text-center">Nº of exercises</th>
    <th class="text-center">Days of exercise</th>
    <th class="text-center">Date</th>
    <th class="text-center">Actions</th>
  </tr>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td class="text-center"><%= workout.name %></td>
        <td class="text-center"><%= workout.description %></td>
        <td class="text-center"><%= workout.number_of_exercises %></td>
        <td class="text-center"><%= workout.created_at %></td>
        <td class="text-center"><%= workout.goal %></td>
        <td class="text-center">
          <%= link_to 'Details', user_routine_path(user_id: current_user.id, id: routine.id), class: 'btn' %>
          <%= link_to 'Delete', user_routine_path(user_id: current_user.id, id: routine.id), 
            method: :delete, data: { confirm: "You are deleting '#{routine.name}'. Are you sure" }, class: 'btn btn-danger' %>
          <%= link_to 'Edit', edit_routine_path(user_id: current_user.id, id: routine.id), class: 'btn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
