<!-- simple_form_for(@routine) works too, but still don't know how to differentiate between own routines and client routines -->
<%= simple_form_for(@routine, html: { id: 'routines-form' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :days_of_exercise, id: 'routine_days_of_exercise' %>
  <!--<%= f.hidden_field :user_id, :value => params[:user_id] %>
  <%= f.hidden_field :client_id, :value => params[:client_id] %>-->
  <!-- <%= f.hidden_field :client_id, value: params[:id] %> -->
  <%= f.hidden_field :user_id, value: params[:client_id].nil? ? params[:user_id] : params[:client_id] %>
  <%= f.input :goal do %>
    <%= f.select :goal,options_for_select(['Hypertrophy', 'Strength', 'Strength and Hypertrophy', 'Other'],
        selected: f.object.goal), {}, {include_blank: false, class: 'form-control'} %>
  <% end %>
  <%= f.input :active, label: 'Set as current routine', class: 'form-control' %>
  <!--
    <%#= f.input :file, 'Select a file', as: :file %>
  -->
  <div class="row">
    <%= f.button :submit, class: 'btn', id: 'submit-routine' %>
    <%= link_to 'Back', :back, class: 'btn' %>
  </div>
<% end %>
