<div class="table-responsive">
  <table class="table table-hover table-details">
    <tr>
      <th>Title</th>
      <td><%= @routine.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @routine.description %></td>
    </tr>
    <tr>
      <th>Nº of exercises</th>
      <td><%= @routine.days_of_exercise %></td>
    </tr>
    <tr>
      <th>Goal</th>
      <td><%= @routine.goal %></td>
    </tr>
    <tr>
      <th>Active</th>
      <td><%= @routine.active %></td>
    </tr>
  </table>
</div>