<table class="table table-hover table-bordered">
  <tr>
    <th class="text-center">Title</th>
    <td class="text-center"><%= @routine.name %></td>
  </tr>
  <tr>
    <th class="text-center">Description</th>
    <td class="text-center"><%= @routine.description %></td>
  </tr>
  <tr>
    <th class="text-center">Nº of exercises</th>
    <td class="text-center"><%= @routine.days_of_exercise %></td>
  </tr>
  <tr>
    <th class="text-center">Goal</th>
    <td class="text-center"><%= @routine.goal %></td>
  </tr>
  <tr>
    <th class="text-center">Active</th>
    <td class="text-center"><%= @routine.active %></td>
  </tr>
</table>