  
<div class="d-flex justify-content-start" id="upper-toolbar">
  <div class="p-2">
    <%= link_to 'New routine', new_user_routine_path(current_user.id), class: 'btn', id: 'btn-sec' %>
  </div>
  <div class="p-2">
    <%= link_to 'Delete all', user_routines_path(current_user.id), class: 'btn', id: 'btn-sec' %>
  </div>
</div>

<table class="table table-bordered table-hover">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Description</th>
    <th class="text-center">Active</th>
    <th class="text-center">Days of exercise</th>
    <th class="text-center">Routine goal</th>
    <th class="text-center">Actions</th>
  </tr>
  <tbody>
    <% @routines.each do |routine| %>
      <tr>
        <td class="text-center"><%= routine.name %></td>
        <td class="text-center"><%= routine.description %></td>
        <td class="text-center"><%= routine.active %></td>
        <td class="text-center"><%= routine.days_of_exercise %></td>
        <td class="text-center"><%= routine.goal %></td>
        <td class="text-center">
          <%= link_to 'Details', user_routine_path(user_id: current_user.id, id: routine.id), class: 'btn', id: 'btn-sec' %>
          <%= link_to 'Delete', user_routine_path(user_id: current_user.id, id: routine.id), 
            method: :delete, class: 'btn', id: 'btn-sec' %>
          <%= link_to 'Edit', edit_routine_path(user_id: current_user.id, id: routine.id), class: 'btn', id: 'btn-sec' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
