<div class="container">
  <div class="flex-container flex-container-style fixed-height">
    <div class="flex-item"><span contenteditable="">
        <h1>Nutrain</h1>
      </span></div>
  </div>
  <div class="row">
    <h4>User: <%= current_user.fullname %></h4>
    <h4>Info: Routines report</h4>
    <h4>Date: <%= Date.today.strftime("%Y-%m-%d") %></h4>
    <br>
  </div>
  <br>
  
  <% routines.each do |routine| %>
    <hr>
    <h3><%= routine.name %></h3><br>
    <h5>Name</h5>
    <p><%= routine.name %></p><br>
    <h5>Description</h5>
    <p><%= routine.description %></p><br>
    <h5>Days of exercise: </h5><p><%= routine.days_of_exercise %></p><br>
    <h5>Routine goal: </h5><p><%= routine.goal %></p><br>
    <h5>Created at: </h5><p><%= routine.created_at.strftime("%Y-%m-%d") %></p>
    <hr>
  <% end %>
</div>
