<body class="sign-up-screen">
  <div class="container col-9 p-3">
    <div class="card">
      <div class="card-header">
        <h2><%= t('.title', resource: resource_name.to_s.humanize) %></h2>
      </div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= bootstrap_devise_error_messages! %>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'e.g: example@example.com' %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
              <% if @minimum_password_length %>
                <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
              <% end %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', placeholder: 'repeat password' %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :lastname %>
              <%= f.text_field :lastname, class: 'form-control' %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :gender %>
              <%= f.select :type, options_for_select(['Male', 'Female']),
                 {}, {include_blank: false, class: 'form-control'}%>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <%= f.label :age %>
              <%= f.number_field :phone, class: 'form-control' %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label "Height (cm)" %>
              <%= f.number_field :phone, class: 'form-control', placeholder: 'Height in cm' %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label "Weight (kg)" %>
              <%= f.number_field :phone, class: 'form-control', placeholder: 'Weight in kg' %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <%= f.label :city %>
              <%= f.text_field :city, class: 'form-control' %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :country %>
              <%= f.text_field :country, class: 'form-control' %>
            </div>
            <div class="col-md-4 mb-3">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: 'form-control', placeholder: 'eg: 123456789' %>
            </div>
            <!-- <div class="col-md-4 mb-3">
              <%= f.label :type %>
              <%= f.select :type, options_for_select(['Client', 'Professional'], selected: f.object.type), 
                 {}, {include_blank: false, class: 'form-control'} %>
            </div>  --> 
          </div>
          <div class="form-row">
            <div class="col">
              <%= f.label :description %>
              <%= f.text_area :description, class: 'form-control',
                placeholder: 'Write something about you (fitness goals, diet preferences, allergies, injuries, diseases, etc...)' %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= f.submit t('.update'), class: 'btn' %>
            <%= f.button 'Reset', type: :reset, class: 'btn' %>
            <!-- <%= link_to t('.back'), :back, class: 'btn'%> -->
            <%= link_to 'Back', root_path, class: 'btn' %>
          </div>
          <br>
        <% end %>
        <div class="form-group row">
          <p><%= t('.unhappy') %> <u><%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: '' %></u></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
