<div id="contract-form">
  <% if @contract.state == 'Pending' %>
    <%= simple_form_for(@contract, remote: true, data: { confirm: "You sure?"}) do |f| %>
      <b>To: </b> <%= User.find(@contract.client_id).fullname %><br>
      <b>From: </b> <%= User.find(@contract.sent_by_id).fullname %><br>
      <b>Request sent at:</b> <%= @contract.created_at %><br>
      <%= f.input :state, readonly: true %> 
      <%= f.input :message, readonly: true %>
      <%= f.hidden_field :client_id %>
      <!-- <%= f.hidden_field :state %> -->
      <% if current_user.id == @contract.sent_by_id %>
        <%= f.submit "Cancel request", onclick: "contract_state.value = 'Rejected'", class: 'btn btn-danger'%>
      <% else %>
        <%= f.submit "Approve", onclick: "contract_state.value = 'Accepted'", class: 'btn btn-success' %>
        <%= f.submit "Reject", onclick: "contract_state.value = 'Rejected'", class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  <% elsif @contract.state == 'Active' %>
    <%= simple_form_for(@contract) do |f| %>
      <%= f.label :client_id %>: <%= User.find(@contract.client_id).fullname %><br>
      <%= f.input :state, readonly: true %>
      <%= f.submit 'Cancel contract', class: 'btn btn-danger', onclick: "contrat_state.value = 'Cancelled'" %>
    <% end%>
  <% else %>
    <%= simple_form_for(@contract) do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :sent_by_id %>
      <%= f.input :client_id, collection: Professional.find(current_user.id).not_clients %>
      <%= f.input :message %>
      <div class="row">
        <%= f.submit 'Send request', onclick: "contract_state.value = 'Pending', contract_sent_by_id.value = #{current_user.id}", 
          class: 'btn' %>
        <%= link_to 'Back', user_contracts_path(current_user), class: 'btn' %>
      </div>
    <% end %>
  <% end %>
</div>