<div id="contract-form">
  <% if @contract.state == 'Pending' %>
    <%= simple_form_for(@contract, url: user_contract_path(user_id: current_user.id, client_id: params[:client_id]), method: :put,
    remote: true, data: { confirm: 'This action cannot be undone. Are you sure?' }) do |f| %>
      <b>Request from: </b> <%= User.find(@contract.sent_by_id).fullname %><br>
      <b>Request sent at:</b> <%= @contract.created_at %><br>
      <b>Message:</b>
      <%= @contract.message %><br>
      <%= f.input :state, readonly: true, label: 'Status' %> 
      <%= f.hidden_field :client_id %>
      <% if current_user.id == @contract.sent_by_id %>
        <%= f.submit "Cancel request", onclick: "contract_state.value = 'Rejected'", class: 'btn btn-danger'%>
      <% else %>
        <%= f.submit "Approve", onclick: "contract_state.value = 'Accepted'", class: 'btn btn-success' %>
        <%= f.submit "Reject", onclick: "contract_state.value = 'Rejected'", class: 'btn btn-danger' %>
      <% end %>
    <% end %>
  <% elsif @contract.state == 'Active' %>
    <%= simple_form_for(@contract, url: user_contract_path(user_id: current_user.id, client_id: params[:client_id]), method: :put,
    data: { confirm: 'You are cancelling a contract, this cannot be undone. Are you sure?' }) do |f| %>
      <b><%= f.label :client_id %>:</b> <%= User.find(@contract.client_id).fullname %><br>
      <b><%= f.label :professional_id %>:</b> <%= User.find(@contract.professional_id).fullname %><br>
      <b>Active since:</b> <%= @contract.updated_at %><br><br>
      <!-- <%= f.input :state, readonly: true %> --> 
      <%= f.submit 'Cancel contract', class: 'btn btn-danger', onclick: "contrat_state.value = 'Cancelled'" %>
    <% end%>
  <% else %>
    <%= simple_form_for(@contract, url: user_contracts_path(user_id: current_user.id, client_id: params[:client_id])) do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :sent_by_id %>
      <% if current_user.type == 'Professional' %>
        <% if params[:client_id] %>
          <%= f.input :client_id, collection: Professional.find(current_user.id).clients_without_contract, disabled: true %>
          <%= f.hidden_field :client_id, value: params[:client_id] %>
        <% else %>
          <%= f.input :client_id, collection: Professional.find(current_user.id).clients_without_contract %>
        <% end %>
      <% else %>
        <% if params[:professional_id] %>
          <%= f.input :professional_id, collection: Client.find(current_user.id).professionals_without_contract, disabled: true %>
          <%= f.hidden_field :client_id, value: params[:professional_id] %>
        <% else %>
          <%= f.input :professional_id, collection: Client.find(current_user.id).professionals_without_contract %>
        <% end %>
      <% end %>
      <%= f.input :message %>
      <div class="form-actions d-flex">
        <%= f.submit 'Send request', onclick: "contract_state.value = 'Pending', contract_sent_by_id.value = #{current_user.id}", 
          class: 'btn' %>
        <%= button_tag "Clear", type: :reset, class: 'btn' %>
      </div>
    <% end %>
  <% end %>
</div>