<div id="contract-form">
  <%= simple_form_for(@contract) do |f| %>
    <%= f.error_notification %>
    <%= f.input :state %>
    <%= f.input :client_id, collection: Client.all %>
    <div class="row">
      <%= f.button :submit, class: 'btn' %>
      <%= link_to 'Back', root_path, class: 'btn' %>
    </div>
  <% end %>
</div>
