<table class="table table-hover table-responsive-lg table-details">
  <tr>
    <th class="text-center">Name</th>
    <td class="text-center"><%= @user.name %></td>
  </tr>
  <tr>
    <th class="text-center">Lastname</th>
    <td class="text-center"><%= @user.lastname %></td>
  </tr>
    <tr>
    <th class="text-center">Age</th>
    <td class="text-center"><%= @user.age %></td>
  </tr>
    <tr>
    <th class="text-center">Gender</th>
    <td class="text-center"><%= @user.gender %></td>
  </tr>
  <tr>
    <th class="text-center">Height</th>
    <td class="text-center"><%= @user.height %></td>
  </tr>
  <tr>
    <th class="text-center">Weight</th>
    <td class="text-center"><%= @user.weight %></td>
  </tr>
  <tr>
    <th class="text-center">Email</th>
    <td class="text-center"><%= @user.email %></td>
  </tr>
  <tr>
    <th class="text-center">Phone</th>
    <td class="text-center"><%= @user.phone %></td>
  </tr>
  <tr>
    <th class="text-center">City</th>
    <td class="text-center"><%= @user.city %></td>
  </tr>
  <tr>
    <th class="text-center">Country</th>
    <td class="text-center"><%= @user.country %></td>
  </tr>
</table>

<div class="d-flex justify-content-start">
  <% if current_user.type == 'Admin' %>
    <div class="p-2">
      <%= link_to 'Delete', user_path(@user), method: :delete, class: 'btn', id: 'btn-sec' %>
    </div>
  <% elsif current_user.trainer %>
    <%= render 'trainer_actions' %>
  <% elsif current_user.nutritionist %>
    <%= render 'nutritionist_actions' %>
  <% elsif current_user.physiotherapist %>
    <%= render 'physiotherapist_actions' %>
  <% elsif current_user.psychologist %>
    <%= render 'psychologist_actions' %>
  <% end %>
</div>