<table class="table table-hover table-responsive-lg table-details">
  <tr>
    <th class="text-center">Name</th>
    <td class="text-center"><%= @user.name %></td>
  </tr>
  <tr>
    <th class="text-center">Lastname</th>
    <td class="text-center"><%= @user.lastname %></td>
  </tr>
    <tr>
    <th class="text-center">Age</th>
    <td class="text-center"><%= @user.age %></td>
  </tr>
    <tr>
    <th class="text-center">Gender</th>
    <td class="text-center"><%= @user.gender %></td>
  </tr>
  <tr>
    <th class="text-center">Height</th>
    <td class="text-center"><%= @user.height %></td>
  </tr>
  <tr>
    <th class="text-center">Weight</th>
    <td class="text-center"><%= @user.weight %></td>
  </tr>
  <tr>
    <th class="text-center">Email</th>
    <td class="text-center"><%= @user.email %></td>
  </tr>
  <tr>
    <th class="text-center">Phone</th>
    <td class="text-center"><%= @user.phone %></td>
  </tr>
  <tr>
    <th class="text-center">City</th>
    <td class="text-center"><%= @user.city %></td>
  </tr>
  <tr>
    <th class="text-center">Country</th>
    <td class="text-center"><%= @user.country %></td>
  </tr>
  <% if @user.type == 'Professional' %>
    <tr>
      <th class="text-center">Nutritionist</th>
      <td class="text-center"><%= @user.is_nutritionist? %></td>
    </tr>
    <tr>
      <th class="text-center">Personal trainer</th>
      <td class="text-center"><%= @user.is_trainer? %></td>
    </tr>
    <tr>
      <th class="text-center">Physiotherapist</th>
      <td class="text-center"><%= @user.is_physiotherapist? %></td>
    </tr>
    <tr>
      <th class="text-center">Psychologist</th>
      <td class="text-center"><%= @user.is_psychologist? %></td>
    </tr>
  <% end %>
</table>

<div class="d-flex justify-content-start">
  <% if current_user.type == 'Admin' %>
    <div class="p-2">
      <%= link_to 'Delete', user_path(@user), method: :delete, class: 'btn' %>
    </div>
  <% elsif current_user.type == 'Professional' && @user.has_contract?(current_user.id) %>
    <%= render 'professional_actions', user: @user %>
  <% end %>
</div>