<h1>Hello, Rails!</h1>

<%= link_to 'New user', new_user_path %> <br>
<%= link_to 'New routine', new_routine_path %> <br>
<%= link_to 'New workout', new_workout_path %> <br>
<%= link_to 'New exercises', new_exercise_path %> <br>
<%= link_to 'New diets', new_diet_path %>