<div class="row">
  <div class="col-md-12">
    <div class="row daily-summary-header">
      <h2>Daily's summary</h2>
    </div>
  </div>
</div><br>

<div class="container-fluid">
  <!-- MEALS BLOCK -->
  <div class="row">
    <div class="col-md-6">
      <div class="row daily-meals-header">
        <h3>Today's meals</h3>
        <%= link_to 'New meal', new_user_meal_path(user_id: current_user.id), class: 'btn ml-auto' %>
      </div>
      
      <div class="row">
      <% if current_user.meals.where("DATE(created_at) = ?", Date.today).empty? %>
        You have not added any food today.
      <% else %>
        <table class="table table-responsive-lg table-hover table-summary-welcome-page">
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Actions</th>
          </tr>
          <% meals = current_user.meals.where("DATE(created_at) = ?", Date.today) %>
          <% meals.each do |meal| %>
            <tr>
              <td class="text-center"><%= meal.name %></td>
              <td class="text-center"><%= meal.description %></td>
              <td class="text-center">
                <%= link_to 'Edit', edit_user_meal_path(current_user.id, id: meal), class: 'btn' %>
                <%= link_to 'Delete', user_meal_path(current_user.id, id: meal), method: :delete, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
      </div>
    </div>

    <!-- Space between meals and workouts -->
    <div class="col-md-1"></div>

    <!-- WORKOUTS BLOCK -->
    <div class="col-md-5 workout-block">
      <div class="row daily-workouts-header">
        <h3>Today's workout</h3>
        <%= link_to 'New workout', new_user_workout_path(user_id: current_user.id), class: 'btn ml-auto' %>
      </div>

      <div class="row">
        <% if current_user.workouts.where("DATE(created_at) = ?", Date.today).empty? %>
          You have not added any workout today.
        <% else %>
          <table class="table table-responsive-lg table-hover table-summary-welcome-page">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Description</th>
              <th class="text-center">Actions</th>
            </tr>
            <% workouts = current_user.workouts.where("DATE(created_at) = ?", Date.today) %>
            <% workouts.each do |workout| %>
              <tr>
                <td class="text-center"><%= workout.name %></td>
                <td class="text-center"><%= workout.description %></td>
                <td class="text-center">
                  <%= link_to 'Edit', edit_user_workout_path(user_id: current_user.id, id: workout), class: 'btn' %>
                  <%= link_to 'Delete', user_workout_path(current_user.id, id: workout), method: :delete, class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <!-- MACRONUTRIENTS HEADER-->
  <br>
  <div class="row daily-macros-header">
    <h3>Today's macros</h3>
  </div>
  <!-- DAILY MACRONUTRIENTS PIE GRAPHICS -->
  <div class="pie-graphics">
    <div class="row">
      <div class="col-md-3">
        <div class="row daily-kcal-header">
          <h4>
            Kcal: <%= Meal.total_kcal_meals_today(current_user.id) %> of 
            <%= current_user.get_current_diet.kcal_goal unless current_user.diets.empty? %>
          </h4>
        </div>
        <%= bar_chart current_user.meals.where("DATE(created_at) = ?", Date.today).group(:name).sum(:kcal),
                    colors: ['#f57c00'] %>
        
      </div>
      <div class="col-md-3">
        <div class="row daily-protein-header">
          <h4>Protein: <%= Meal.total_protein_meals_today(current_user.id) %></h4>
        </div>
        <%= pie_chart current_user.meals.where("DATE(created_at) = ?", Date.today).group(:name).sum(:protein),
                    colors: ['#16A085', '#D35400', '#0288d1', '#2C3E50'] %>
        
      </div>
      <div class="col-md-3">
        <div class="row daily-carbs-header">
          <h4>Carbs: <%= Meal.total_carbs_meals_today(current_user.id) %></h4>
        </div>
        <%= pie_chart current_user.meals.where("DATE(created_at) = ?", Date.today).group(:name).sum(:carbs) %>
        
      </div>
      <div class="col-md-3">
        <div class="row daily-fats-header">
          <h4>Fats: <%= Meal.total_fats_meals_today(current_user.id) %></h4>
        </div>
        <%= pie_chart current_user.meals.where("DATE(created_at) = ?", Date.today).group(:name).sum(:fats) %>
        
      </div>
    </div>
  </div><br>

  <!-- WEEKLY MACRONUTRIENTS HEADER -->
  <div class="row weekly-macros-header">
      <h3>Your macros of last 7 days</h3>
  </div>
  <br>
  
  <!-- WEEKLY MACRONUTRIENT LINE GRAPHIC -->
  <div class="row">
    <% @meals = current_user.meals %>
    <%= line_chart [
                       {name: "Total protein per day", data: @meals.group_by_day(:created_at, range: 1.week.ago..Date.today+1).sum(:protein)},
                       {name: "Total carbs per day", data: @meals.group_by_day(:created_at, range: 1.week.ago..Date.today+1).sum(:carbs)},
                       {name: "Total fats per day", data: @meals.group_by_day(:created_at, range: 1.week.ago..Date.today+1).sum(:fats)}],
                   {library: {hAxis: {title: "X-label"}, vAxis: {title: "Y-label"}, title: "Graph title label"}} %>
  </div>

</div>

<script>
/*    $(document).ready(function(){
``          ScrollReveal().reveal('.pie-graphics  ', {
              easing: 'ease-in',
              delay: 1000,
              duration: 1000,
          });
      });*/
</script>
