<div class="row">
  <div class="col-md-12">
    <div class="row daily-summary-header">
      <h3>Daily's summary</h3>
    </div>
  </div>
</div><br>

<div class="container-fluid">
  <!-- MEALS BLOCK -->
  <div class="row">
    <div class="col-md-6 welcome-meals-container">
      <div class="row daily-meals-header">
        <h4>Today's meals</h4>
        <%= link_to 'Add meal', new_user_meal_path(user_id: current_user.id), class: 'btn ml-auto' %>
      </div>
      
      <div class="row">
      <% if current_user.meals.where("DATE(day) = ?", Date.today).empty? %>
        <br> You have not added any food today.
      <% else %>
      <div class="table-responsive">
        <table class="table table-hover table-summary-welcome-page">
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Actions</th>
          </tr>
          <% meals = current_user.meals.where("DATE(day) = ?", Date.today) %>
          <% meals.each do |meal| %>
            <tr>
              <td class="text-center"><%= meal.name %></td>
              <td class="text-center"><%= meal.description %></td>
              <td class="text-center">
                <%= link_to 'Edit', edit_user_meal_path(current_user.id, id: meal), class: 'btn' %>
                <%= link_to 'Delete', user_meal_path(current_user.id, id: meal), method: :delete,
                  data: { confirm: "You are deleting '#{meal.name}'. Are you sure?" }, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <% end %>
      </div>
    </div>

    <!-- Space between meals and workouts -->
    <div class="col-md-1"></div>

    <!-- WORKOUTS BLOCK -->
    <div class="col-md-5 welcome-workouts-container">
      <div class="row daily-workouts-header">
        <h4>Today's workout</h4>
        <%= link_to 'Add workout', new_user_workout_path(user_id: current_user.id), class: 'btn ml-auto' %>
      </div>

      <div class="row">
        <% if current_user.workouts.where("DATE(day) = ?", Date.today).empty? %>
        <br> You have not added any workout today.
        <% else %>
        <div class="table-responsive">
          <table class="table table-hover table-summary-welcome-page">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Description</th>
              <th class="text-center">Actions</th>
            </tr>
            <% workouts = current_user.workouts.where("DATE(day) = ?", Date.today) %>
            <% workouts.each do |workout| %>
              <tr>
                <td class="text-center"><%= workout.name %></td>
                <td class="text-center"><%= workout.description %></td>
                <td class="text-center">
                  <%= link_to 'Edit', edit_user_workout_path(user_id: current_user.id, id: workout), class: 'btn' %>
                  <%= link_to 'Delete', user_workout_path(current_user.id, id: workout), method: :delete,
                    data: { confirm: "You are deleting '#{workout.name}'. Are you sure?" }, class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- MACRONUTRIENTS HEADER-->
  <br>
  <div class="row daily-macros-header">
    <h4>Today's macros</h4>
  </div>
  <!-- DAILY MACRONUTRIENTS PIE GRAPHICS -->
  <div class="pie-graphics">
    <div class="row welcome-macros-graphics">
      <div class="col-md-3 kcal-graphic">
        <div class="row daily-kcal-header">
          <h4>
            Kcal: <%= Meal.total_kcal_meals_today(current_user.id) %>
            <%= "of " + "#{current_user.get_current_diet.kcal_goal}" unless current_user.get_current_diet.nil? %>
          </h4><br>
        </div>
        <p><small>*Set your <%= link_to 'diet', user_diets_path(current_user) %> as active in order to see your kcal goal</small></p>
        <%= bar_chart current_user.meals.where("DATE(day) = ?", Date.today).group(:name).sum(:kcal),
                    colors: ['#f57c00'], title: "Daily kcal", download: true, messages: {empty: "No data"} %>
        
      </div>
      <div class="col-md-3 protein-graphic">
        <div class="row daily-protein-header">
          <h4>Total: <%= Meal.total_protein_meals_today(current_user.id) %> g</h4>
        </div>
        <%= pie_chart current_user.meals.where("DATE(day) = ?", Date.today).group(:name).sum(:protein),
              title: "Daily protein", download: true, messages: {empty: "No data"} %>
        
      </div>
      <div class="col-md-3 carbs-graphic">
        <div class="row daily-carbs-header">
          <h4>Total: <%= Meal.total_carbs_meals_today(current_user.id) %> g</h4>
        </div>
        <%= pie_chart current_user.meals.where("DATE(day) = ?", Date.today).group(:name).sum(:carbs),
              title: "Daily carbs", download: true, messages: {empty: "No data"} %>
        
      </div>
      <div class="col-md-3 fats-graphic">
        <div class="row daily-fats-header">
          <h4>Total: <%= Meal.total_fats_meals_today(current_user.id) %> g</h4>
        </div>
        <%= pie_chart current_user.meals.where("DATE(day) = ?", Date.today).group(:name).sum(:fats),
              title: "Daily fats", download: true, messages: {empty: "No data"} %>
        
      </div>
    </div>
  </div><br><br>

  <!-- WEEKLY MACRONUTRIENTS HEADER -->
  <div class="container-home-nutrition">
    <div class="nutrition-overview-header d-flex">
        <h4>Nutrition history</h4>
        <div class="d-flex justify-content-center">
          <button class="btn" id="nutrition-overview-week">Last week</button>
          <button class="btn" id="nutrition-overview-month">Last month</button>
          <button class="btn" id="nutrition-overview-trimester">Last 3 months</button>
        </div>
    </div>
  
    <!-- WEEK, MONTH & TRIMESTER GRAPHICS -->
    <div class="container-nutrition-overview">
      <div class="" id="container-nutrition-overview-weekly">
        <% @meals_week = Meal.last_week_meals(current_user.id) %>
          <%= line_chart [
              {name: "Total protein per day", data: @meals_week.group_by_day(:day, range: 6.day.ago..Date.today).sum(:protein)},
              {name: "Total carbs per day", data: @meals_week.group_by_day(:day, range: 6.day.ago..Date.today).sum(:carbs)},
              {name: "Total fats per day", data: @meals_week.group_by_day(:day, range: 6.day.ago..Date.today).sum(:fats)}],
              ytitle: "Amount (gr)", xtitle: "Days", title: "Marcronutrients last 7 days", download: true,
              messages: {empty: "No data"}, discrete: true
          %>
          <br>
          <%= column_chart [name: "Kcal per day", data: @meals_week.group_by_day(:day, range: 6.day.ago..Date.today).sum(:kcal)],
            colors: ['#f57c00'], ytitle: "Kcal", xtitle: "Days", title: "Kcal last 7 days", download: true,
            messages: {empty: "No data"}, discrete: true 
          %>
      </div>
      <div class="" id="container-nutrition-overview-month" style="display: none">
        <% @meals_month= Meal.last_month_meals(current_user.id) %>
          <%= line_chart [
              {name: "Total protein per day", data: @meals_month.group_by_day(:day, range: 1.month.ago..Date.today).sum(:protein)},
              {name: "Total carbs per day", data: @meals_month.group_by_day(:day, range: 1.month.ago..Date.today).sum(:carbs)},
              {name: "Total fats per day", data: @meals_month.group_by_day(:day, range: 1.month.ago..Date.today).sum(:fats)}],
              ytitle: "Amount (gr)", xtitle: "Days", title: "Marcronutrients last month", download: true,
              messages: {empty: "No data"}, discrete: true
          %>
          <br>
          <%= column_chart [name: "Kcal per day", data: @meals_month.group_by_day(:day, range: 1.month.ago..Date.today).sum(:kcal)],
            colors: ['#f57c00'], ytitle: "Kcal", xtitle: "Days", title: "Kcal last month", download: true, 
            messages: {empty: "No data"}, discrete: true
          %>
      </div>
      <div class="" id="container-nutrition-overview-trimester" style="display: none">
        <% @meals_month= Meal.last_month_meals(current_user.id) %>
          <%= line_chart [
              {name: "Total protein per day", data: @meals_month.group_by_day(:day, range: 3.month.ago..Date.today).sum(:protein)},
              {name: "Total carbs per day", data: @meals_month.group_by_day(:day, range: 3.month.ago..Date.today).sum(:carbs)},
              {name: "Total fats per day", data: @meals_month.group_by_day(:day, range: 3.month.ago..Date.today).sum(:fats)}],
              ytitle: "Amount (gr)", xtitle: "Days", title: "Marcronutrients last 3 months", download: true,
              messages: {empty: "No data"}, discrete: true
          %>
          <br>
          <%= column_chart [name: "Kcal per day", data: @meals_month.group_by_day(:day, range: 3.month.ago..Date.today).sum(:kcal)],
            colors: ['#f57c00'], ytitle: "Kcal", xtitle: "Days", title: "Kcal last 3 months", download: true,
            messages: {empty: "No data"}, discrete: true
          %>
      </div>
    </div>
  </div>
<!-- END NUTRITION OVERVIEW -->
</div>
