
<%= simple_form_for(@physio_exercise, url: user_physio_exercises_path(user_id: params[:user_id])) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Name of the exercise' %>
    <%= f.input :description, placeholder: 'Give some details: how to do it, tips, how many times per week, etc' %>
    <%= f.input :duration, placeholder: 'e.g: 4 weeks' %>
    <%= f.hidden_field :user_id, value: params[:client_id].nil? ? params[:user_id] : params[:client_id] %>
  </div>

  <div class="row form-actions">
    <%= f.button :submit %>
    <%= link_to 'Back', :back, class: 'btn' %>
  </div>
<% end %>
