<div class="container p-4 col-6">
  <div class="card">
    <div class="card-header d-flex">
      <h2>Edit physio exercise</h2>
      <%= link_to 'Back', :back, class: 'btn ml-auto' %>
    </div>
    <div class="card-body">
      <%= simple_form_for(@physio_exercise, url: user_physio_exercise_path(user_id: params[:user_id]), method: :put) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :name, placeholder: 'Name of the exercise' %>
          <%= f.input :description, input_html: { rows: 8 }, placeholder: 'Give some details: how to do it, tips, how many times per week, etc' %>
          <%= f.input :duration, placeholder: 'e.g: 4 weeks' %>
          <%= f.hidden_field :user_id, value: params[:client_id].nil? ? params[:user_id] : params[:client_id] %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
          <%= button_tag "Clear", type: :reset, class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
