<div class="row">
  <div class="col-md-8">
    <%= simple_form_for(@meal, url: user_meals_path(user_id: current_user.id), wrapper: :horizontal_form) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :name, placeholder: 'Give a name to your delicious meal!' %>
        <%= f.input :description, placeholder: 'Description: cooking time, steps...' %>
        <%= f.input :file, label: 'Select photo of meal', as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn', id: 'btn-sec' %>
      </div>

      <hr>
      <h4>Add ingredients to meal</h4>
      <hr>

      <div class="foods-form">
        <%= f.simple_fields_for :foods do |food| %>
          <%= render 'foods/food_fields', f: food %>
        <% end %>
        <%= link_to_add_association 'Add ingredient', f, :foods, partial: 'foods/food_fields', class: 'btn', id: 'btn-sec' %>
      </div>
    <% end %>
  </div>

  <div class="vl"></div>
  <div class="col-md-3">
    <h3>Macronutrients</h3>
  </div>
</div>