<div class="row">
  <div class="col-md-8" id="meal-form">
    <%= simple_form_for(@meal, wrapper: :horizontal_form) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.input :name, placeholder: 'Give a name to your delicious meal!' %>
        <%= f.input :description, placeholder: 'Description: cooking time, steps...' %>
        <label class="btn" id="btn-sec">
        Select file
          <span style="display:none;">
            <%= f.input :file, label: 'Select photo of meal', as: :file %>
          </span>
        </label>
      </div>
      <br>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn' %>
      </div>

      <br><br>
      <h4>Add ingredients to meal</h4>
      <hr>

      <div>
        <%= f.association :foods, collection: Food.all, label_method: :name_and_amount, value_method: :id, id: "select_ingredients",
          label: 'Add existing ingredients', include_blank: false, include_hidden: false %>
      </div><hr>

      <div class="foods-form">
      <%= link_to_add_association 'New ingredient', f, :foods, partial: 'foods/food_fields', class: 'btn', id: 'add-ingredient' %>
      <hr>
        <%= f.simple_fields_for :foods do |food| %>
          <%= render 'foods/food_fields', f: food %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="vl"></div>
  <div class="col-md-3">
    <h3>Macronutrients</h3>
    <div class="macros"></div>
  </div>
</div>

<script>



</script>