<h5>Meal</h5>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Description</th>
      <th class="text-center">Day</th>
      <th class="text-center">Kcal</th>
      <th class="text-center">Protein</th>
      <th class="text-center">Carbs</th>
      <th class="text-center">Fats</th>
    </tr>
    <tbody>
      <tr>
        <td class="text-center"><%= @meal.name %></td>
        <td class="text-center"><%= @meal.description %></td>
        <td class="text-center"><%= @meal.day %></td>
        <td class="text-center"><%= @meal.kcal %></td>
        <td class="text-center"><%= @meal.protein %></td>
        <td class="text-center"><%= @meal.carbs %></td>
        <td class="text-center"><%= @meal.fats %></td>
      </tr>
    </tbody>
  </table>
</div>
<h5>Ingredients</h5>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Brand</th>
      <th class="text-center">Kcal</th>
      <th class="text-center">Protein</th>
      <th class="text-center">Carbs</th>
      <th class="text-center">Fats</th>
      <th class="text-center">Serving size (g)</th>
    </tr>
    <tbody>
      <% @meal.foods.each do |food| %>
        <tr>
          <td class="text-center"><%= food.name %></td>
          <td class="text-center"><%= food.brand %></td>
          <td class="text-center"><%= (food.kcal * food.serving_size/100).round %></td>
          <td class="text-center"><%= (food.protein * food.serving_size/100).round %></td>
          <td class="text-center"><%= (food.carbs * food.serving_size/100).round %></td>
          <td class="text-center"><%= (food.fats * food.serving_size/100).round %></td>
          <td class="text-center"><%= food.serving_size.round %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- <button class="btn" id="toggle-show-meal-graphics"><span>Show graphics</span></button> -->
<br>
<br>
<div id="show-meal-graphics">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <h5>Protein</h5>
      <%= pie_chart @meal.foods.group(:name).sum(:protein) %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <h5>Carbs</h5>
      <%= pie_chart @meal.foods.group(:name).sum(:carbs) %>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <h5>Fats</h5>
      <%= pie_chart @meal.foods.group(:name).sum(:fats) %>
    </div>
  </div>
</div>
