<div class="container">
  <div class="row">
    <h2>Meals history</h2>
  </div>

  <div class="row">
    Total meals: <%= meals.count %>
  </div>

  <table class="table table-responsive-lg table-hover">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Description</th>
    <th class="text-center">Kcal</th>
    <th class="text-center">Protein</th>
    <th class="text-center">Carbs</th>
    <th class="text-center">Fats</th>
    <th class="text-center">Vegan</th>
    <th class="text-center">Vegetarian</th>
    <th class="text-center">Gluten free</th>
    <th class="text-center">Soy free</th>
    <th class="text-center">Nut free</th>
  </tr>
  <tbody>
  <% meals.each do |meal| %><tr>
    <td class="text-center"><%= meal.name %></td>
    <td class="text-center"><%= meal.description %></td>
    <td class="text-center"><%= meal.kcal %></td>
    <td class="text-center"><%= meal.protein %></td>
    <td class="text-center"><%= meal.carbs %></td>
    <td class="text-center"><%= meal.fats %></td>
    <td class="text-center"><%= meal.vegan? %></td>
    <td class="text-center"><%= meal.vegetarian? %></td>
    <td class="text-center"><%= meal.gluten_free? %></td>
    <td class="text-center"><%= meal.soy_free? %></td>
    <td class="text-center"><%= meal.nut_free? %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>