<div class="container">

	<div class="flex-container flex-container-style fixed-height">
		<div class="flex-item"><span contenteditable=""><h1>Nutrain</h1></span></div>
	</div>

  <div class="row">
    <h4>User: <%= current_user.fullname %></h4>
    <h4>Info: Meal history</h4>
    <br>
    <% if !params[:meal].nil? || params[:meal][:start_date].empty? %>
      <h5>From: <%= params[:meal][:start_date] %></h5>
      <h5>To: <%= params[:meal][:end_date] %></h5>
    <% end %>
    <br>
    <h5>Total meals: <%= meals.count %></h5>
  </div><br>

  <table class="table">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Description</th>
      <th class="text-center">Kcal</th>
      <th class="text-center">Protein</th>
      <th class="text-center">Carbs</th>
      <th class="text-center">Fats</th>
      <th class="text-center">Date</th>
    </tr>
    <tbody>
      <% meals.each do |meal| %>
        <tr>
          <td class="text-center"><%= meal.name %></td>
          <td class="text-center"><%= meal.description %></td>
          <td class="text-center"><%= meal.kcal %></td>
          <td class="text-center"><%= meal.protein %></td>
          <td class="text-center"><%= meal.carbs %></td>
          <td class="text-center"><%= meal.fats %></td>
          <td class="text-center"><%= meal.created_at.strftime("%Y-%m-%d") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
