<div class="table-responsive">
  <table class="table table-hover table-details">
    <tr>
      <th>Name</th>
      <td><%= @food.name %></td>
    </tr>
    <tr>
      <th>Brand</th>
      <td><%= @food.brand %></td>
    </tr>
    <tr>
      <th>Kcal</th>
      <td><%= @food.kcal %></td>
    </tr>
    <tr>
      <th>Protein</th>
      <td><%= @food.protein %></td>
    </tr>
    <tr>
      <th>Carbs</th>
      <td><%= @food.carbs %></td>
    </tr>
    <tr>
      <th>Fats</th>
      <td><%= @food.fats %></td>
    </tr>
    <tr>
      <th>Vegan</th>
      <td><%= @food.vegan %></td>
    </tr>
    <tr>
      <th>Vegetarian</th>
      <td><%= @food.vegetarian %></td>
    </tr>
    <tr>
      <th>Gluten free</th>
      <td><%= @food.gluten_free %></td>
    </tr>
    <tr>
      <th>Nut free</th>
      <td><%= @food.nut_free %></td>
    </tr>
    <tr>
      <th>Soy free</th>
      <td><%= @food.soy_free %></td>
    </tr>
  </table>
</div>