<%= simple_form_for(@food, url: user_foods_path(user_id: current_user.id)) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :name %>
    </div>
    <div class="col-lg-6">
      <%= f.input :brand %>
    </div>
  </div>
  <br>
  <p class="small">Note: introduce macros per 100g (same as the product info), and then they will be calculated based on serving size value</p>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :kcal %>
    </div>
    <div class="col-lg-6">
      <%= f.input :protein %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :carbs %>
    </div>
    <div class="col-lg-6">
      <%= f.input :fats %>
    </div>
  </div>
  <%= f.input :serving_size %>
  <%= label_tag "Characteristics"%>
  <div class="d-flex justify-content-between">
    <%= f.input :vegan %>
    <%= f.input :vegetarian %>
    <%= f.input :gluten_free %>
    <%= f.input :nut_free %>
    <%= f.input :soy_free  %>
  </div>
               
  <div class="form-actions d-flex">
    <%= f.button :submit, class: 'btn' %>
    <%= button_tag "Clear", type: :reset, class: 'btn' %>
  </div>
<% end %>
