<div class="table-responsive">
  <table class="table table-hover table-details">
    <tr>
      <th class="text-center">Day</th>
      <td class="text-center"><%= @measurement.day %></td>
    </tr>
    <tr>
      <th class="text-center">Weight</th>
      <td class="text-center"><%= @measurement.weight %></td>
    </tr>
    <tr>
      <th class="text-center">Neck size</th>
      <td class="text-center"><%= @measurement.neck_size %></td>
    </tr>
    <tr>
      <th class="text-center">Chest size</th>
      <td class="text-center"><%= @measurement.chest_size %></td>
    </tr>
    <tr>
      <th class="text-center">Arm size</th>
      <td class="text-center"><%= @measurement.arm_size %></td>
    </tr>
    <tr>
      <th class="text-center">Waist size</th>
      <td class="text-center"><%= @measurement.waist_size %></td>
    </tr>
    <tr>
      <th class="text-center">Hips size</th>
      <td class="text-center"><%= @measurement.hips_size %></td>
    </tr>
    <tr>
      <th class="text-center">Leg size</th>
      <td class="text-center"><%= @measurement.leg_size %></td>
    </tr>
  </table>
</div>