<div class="d-flex justify-content-start" id="upper-toolbar">
  <div class="p-2">
    <%= link_to 'New body measurements', new_user_measurement_path(current_user), class: 'btn' %>
  </div>
  <div class="p-2">
     <%= link_to "Delete all", delete_all_user_measurements_path(current_user), :method => :get, class: 'btn btn-danger',
        data: { confirm: 'You are going to delete all your measurements. This action cannot be undone. Are you sure?' } %>
  </div>
  <div class="p-2">
    <%= link_to 'Download report', "#", 
    {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn'} %>
  </div>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"><%= render 'measurements/modal' %></div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center table-title">
  <h3>Body measurements</h3>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th class="text-center">Weight (kg)</th>
      <th class="text-center">Neck (cm)</th>
      <th class="text-center">Chest (cm)</th>
      <th class="text-center">Arm (cm)</th>
      <th class="text-center">Waist (cm)</th>
      <th class="text-center">Hips (cm)</th>
      <th class="text-center">Leg (cm)</th>
      <th class="text-center">Day</th>
      <th class="text-center">Actions</th>
    </tr>
    <tbody>
      <% @measurements.each do |measurement| %>
        <tr>
          <td class="text-center"><%= measurement.weight %></td>
          <td class="text-center"><%= measurement.neck_size %></td>
          <td class="text-center"><%= measurement.chest_size %></td>
          <td class="text-center"><%= measurement.arm_size %></td>
          <td class="text-center"><%= measurement.waist_size %></td>
          <td class="text-center"><%= measurement.hips_size %></td>
          <td class="text-center"><%= measurement.leg_size %></td>
          <td class="text-center"><%= measurement.day %></td>
          <td class="text-center">
            <%= link_to 'Details', user_measurement_path(user_id: current_user.id, id: measurement.id), class: 'btn' %>
            <%= link_to 'Edit', edit_user_measurement_path(user_id: current_user.id, id: measurement.id), class: 'btn' %>
            <%= link_to 'Delete', user_measurement_path(user_id: current_user.id, id: measurement.id), method: :delete,
        data: { confirm: "This action cannot be undone'. Are you sure?" }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
  <br>
  <br>
  <!-- refactor this, not necessary to take all measurement if not going to show all of them -->
  <% @measurements = current_user.measurements %>
  <h3>Body measurements progress</h3>
  <button class="btn" id="button-measurements-month">Last month</button>
  <button class="btn" id="button-measurements-three-months">Last 3 months</button>
  <button class="btn" id="button-measurements-six-months">Last 6 months</button>
  <br>
  <!-- MONTHLY GRAPHICS -->
  <div id="measurements-graphics-month">
    <%= line_chart [
          {name: 'Weight (kg)', data: @measurements.group_by_day(:day, range: 1.month.ago..Date.today).sum(:weight)}
        ], ytitle: "Kg", xtitle: "Date", title: "Weight progress last month", download: true, messages: {empty: "No data"},
            id: 'weight-month-graphic', discrete: true %>
    <br>
    <%= line_chart [
              {name: 'Neck size (cm)', data: @measurements.group_by_day(:day).sum(:neck_size)},
              {name: 'Chest size (cm)', data: @measurements.group_by_day(:day).sum(:chest_size)},
              {name: 'Arm size (cm)', data: @measurements.group_by_day(:day).sum(:arm_size)},
        ], ytitle: "Cm", xtitle: "Date", title: "Upper body metrics progress last month", download: true,
            messages: {empty: "No data"}, discrete: true %>
    <br>
    <%= line_chart [
              {name: 'Waist size (cm)', data: @measurements.group_by_day(:day).sum(:waist_size)},
              {name: 'Hips size (cm)', data: @measurements.group_by_day(:day).sum(:hips_size)},
              {name: 'Leg size (cm)', data: @measurements.group_by_day(:day).sum(:leg_size)}
        ], ytitle: "Cm", xtitle: "Date", title: "Lower body metrics progress last month", download: true,
            messages: {empty: "No data"}, discrete: true %>
  </div>
  <!-- LAST 3 MONTH GRAPHICS -->
  <div id="measurements-graphics-three-months" style="display: none">
    <%= line_chart [
          {name: 'Weight (kg)', data: @measurements.group_by_day(:day, range: 3.month.ago..Date.today).sum(:weight)}
        ], ytitle: "Kg", xtitle: "Date", title: "Weight progress last 3 months", download: true,
            messages: {empty: "No data"}, discrete: true %>
    <br>
    <%= line_chart [
          {name: 'Neck size (cm)', data: @measurements.group_by_day(:day, range: 3.month.ago..Date.today).sum(:neck_size)},
          {name: 'Chest size (cm)', data: @measurements.group_by_day(:day, range: 3.month.ago..Date.today).sum(:chest_size)},
          {name: 'Arm size (cm)', data: @measurements.group_by_day(:day, range: 3.month.ago..Date.today).sum(:arm_size)},
        ], ytitle: "Cm", xtitle: "Date", title: "Upper body metrics progress last 3 months", download: true,
          messages: {empty: "No data"}, discrete: true %>
    <br>
    <%= line_chart [
          {name: 'Waist size (cm)', data: @measurements.group_by_day(:day, range: 3.month.ago..Date.today).sum(:waist_size)},
          {name: 'Hips size (cm)', data: @measurements.group_by_day(:day, range: 3.month.ago..Date.today).sum(:hips_size)},
          {name: 'Leg size (cm)', data: @measurements.group_by_day(:day, range: 3.month.ago..Date.today).sum(:leg_size)}
        ], ytitle: "Cm", xtitle: "Date", title: "Lower body metrics progress last 3 months", download: true,
            messages: {empty: "No data"}, discrete: true %>
  </div>
  <!-- LAST YEAR GRAPHIC -->
  <div id="measurements-graphics-six-months" style="display: none">
    <%= line_chart [
        {name: 'Weight (kg)', data: @measurements.group_by_day(:day, range: 6.month.ago..Date.today).sum(:weight)}
  ], ytitle: "Kg", xtitle: "Date", title: "Weight progress last 6 months", download: true, messages: {empty: "No data"}, discrete: true %>
    <br>
    <%= line_chart [
          {name: 'Neck size (cm)', data: @measurements.group_by_day(:day, range: 6.month.ago..Date.today).sum(:neck_size)},
          {name: 'Chest size (cm)', data: @measurements.group_by_day(:day, range: 6.month.ago..Date.today).sum(:chest_size)},
          {name: 'Arm size (cm)', data: @measurements.group_by_day(:day, range: 6.month.ago..Date.today).sum(:arm_size)},
        ], ytitle: "Cm", xtitle: "Date", title: "Upper body metrics progress last 6 months", download: true,
          messages: {empty: "No data"}, discrete: true %>
    <br>
    <%= line_chart [
          {name: 'Waist size (cm)', data: @measurements.group_by_day(:day, range: 6.month.ago..Date.today).sum(:waist_size)},
          {name: 'Hips size (cm)', data: @measurements.group_by_day(:day, range: 6.month.ago..Date.today).sum(:hips_size)},
          {name: 'Leg size (cm)', data: @measurements.group_by_day(:day, range: 6.month.ago..Date.today).sum(:leg_size)}
        ], ytitle: "Cm", xtitle: "Date", title: "Lower body metrics progress last 6 months", download: true,
          messages: {empty: "No data"}, discrete: true %>
  </div>
</div>