<table class="table table-hover table-bordered">
  <tr>
    <th class="text-center">Title</th>
    <td class="text-center"><%= @diet.name %></td>
  </tr>
  <tr>
    <th class="text-center">Description</th>
    <td class="text-center"><%= @diet.description %></td>
  </tr>
  <tr>
    <th class="text-center">Kcal goal</th>
    <td class="text-center"><%= @diet.kcal_goal %></td>
  </tr>
  <tr>
    <th class="text-center">Nº of meals</th>
    <td class="text-center"><%= @diet.total_meals %></td>
  </tr>
  <tr>
    <th class="text-center">Goal</th>
    <td class="text-center"><%= @diet.goal %></td>
  </tr>
  <tr>
    <th class="text-center">Active</th>
    <td class="text-center"><%= @diet.active %></td>
  </tr>
</table>