<div class="table-responsive">
  <table class="table table-hover table-details">
    <tr>
      <th>Title</th>
      <td><%= @diet.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @diet.description %></td>
    </tr>
    <tr>
      <th>Kcal goal</th>
      <td><%= @diet.kcal_goal %></td>
    </tr>
    <tr>
      <th>Nº of meals</th>
      <td><%= @diet.recommended_meals %></td>
    </tr>
    <tr>
      <th>Goal</th>
      <td><%= @diet.goal %></td>
    </tr>
    <tr>
      <th>Active</th>
      <td><%= @diet.active %></td>
    </tr>
  </table>
</div>