<%= simple_form_for(@diet, check_diet_routes(params[:client_id], @diet)) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :kcal_goal %>
  <%= f.input :total_meals %>
  <%= f.input :goal do %>
    <%= f.select :goal, options_for_select(['Bulking', 'Weight loss', 'Maintain'], selected: f.object.goal), 
                {}, {include_blank: false, class: 'form-control'} %>
  <% end %>
  <%= f.input :active, label: 'Set as current diet' %>
               
  <div class="row">
    <%= f.button :submit, class: 'btn' %>
    <%= link_to 'Back', user_diets_path(user_id: current_user.id), class: 'btn' %>
  </div>
<% end %>
