<div class="container">
  <div class="flex-container flex-container-style fixed-height">
    <div class="flex-item"><span contenteditable="">
        <h1>Nutrain</h1>
      </span></div>
  </div>
  <div class="row">
    <h4>User: <%= current_user.fullname %></h4>
    <h4>Info: Diets report</h4>
    <h4>Date: <%= Date.today.strftime("%Y-%m-%d") %></h4>
    <br>
  </div>
  <br>
  
  <% @diets.each do |diet| %>
  <hr>
    <h3><%= diet.name %></h3><br>
    <h5>Name</h5>
    <p><%= diet.name %></p><br>
    <h5>Description</h5>
    <p><%= diet.description %></p><br>
    <h5>Kcal goal:</h5><p><%= diet.kcal_goal %></p><br>
    <h5>Recommended meals:</h5><p><%= diet.recommended_meals %></p><br>
    <h5>Diet goal:</h5><p><%= diet.goal %></p>
    <h5>Created at:</h5><p><%= diet.created_at.strftime("%Y-%m-%d") %></p>
    <hr>
  <% end %>
</div>
