<div class="d-flex justify-content-start" id="upper-toolbar">
  <div class="p-2">
    <%= link_to 'New diet', new_user_diet_path(current_user), class: 'btn' %>
  </div>
  <div class="p-2">
    <%= link_to "Delete all", delete_all_user_diets_path(current_user), :method => :get, class: 'btn btn-danger',
        data: { confirm: 'You are going to delete all your diets. This action cannot be undone. Are you sure?' } %>
  </div>
  <div class="p-2">
    <%= link_to 'Download history', user_diets_path(current_user, :format => :pdf) , :format => :pdf, target: :_blank, class: 'btn' %>
  </div>
</div>

<div class="d-flex justify-content-center table-title">
  <h3>Diets</h3>
</div>

<div class="table-responsive">
<table class="table table-hover">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Description</th>
    <th class="text-center">Current?</th>
    <th class="text-center">Total kcal</th>
    <th class="text-center">Nº of meals</th>
    <th class="text-center">Diet goal</th>
    <th class="text-center">Actions</th>
  </tr>
  <tbody>
  <% @diets.each do |diet| %>
  <tr>
    <td class="text-center"><%= diet.name %></td>
    <td class="text-center"><%= diet.description %></td>
    <td class="text-center"><%= diet.active %></td>
    <td class="text-center"><%= diet.kcal_goal %></td>
    <td class="text-center"><%= diet.recommended_meals %></td>
    <td class="text-center"><%= diet.goal %></td>
    <td class="text-center">
      <%= link_to 'Details', user_diet_path(user_id: current_user.id, id: diet.id), class: 'btn' %>
      <%= link_to 'Delete', user_diet_path(user_id: current_user.id, id: diet.id), method: :delete,
        data: { confirm: "You are deleting '#{diet.name}'. Are you sure?" }, class: 'btn btn-danger' %>
      <%= link_to 'Edit', edit_user_diet_path(user_id: current_user.id, id: diet), class: 'btn' %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= pagy_bootstrap_combo_nav_js(@pagy).html_safe %>