<div class="p-1">
  <%= link_to 'New appointment', new_user_appointment_path(current_user.id), class: 'btn', id: 'btn-sec' %>
</div>

<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      Description: <%= appointment.description %><br>
      <% if current_user.type == 'Client'%>
        Appointment with <%= User.find(appointment.professional_id).name %><br>
      <% elsif current_user.type == 'Professional' %>
        Appointment with <%= User.find(appointment.client_id).name %>
      <% end %>
    </div>
  <% end %>
<% end %>