<div class="container p-4 col-6">
  <div class="card">
    <div class="card-header d-flex">
      <h2>New appointment</h2>
      <%= link_to 'Back', :back, class: 'btn ml-auto' %>
    </div>
    <div class="card-body">
      <div id="appointment-form">
        <%= simple_form_for(@appointment, url: user_appointments_path(user_id: params[:user_id])) do |f| %>
          <%= f.error_notification %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :start_time, as: :datetime, html5: true %>
          <% if current_user.type == 'Professional' %>
            <% if params[:client_id] %>
              <%= f.input :client_id, collection: Client.all, disabled: true %>
            <% else %>
              <%= f.input :client_id, collection: Client.all %>
            <% end %>
          <% else %>
            <% if params[:professional_id] %>
              <%= f.input :professional_id, collection: Professional.all, disabled: true %>
            <% else %>
              <%= f.input :professional_id, collection: Professional.all %>
            <% end %>
          <% end %>
          <div class="form-actions d-flex">
            <%= f.button :submit, class: 'btn' %>
            <%= button_tag "Clear", type: :reset, class: 'btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
