<%= simple_form_for(@psychology_task, url: user_psychology_tasks_path(params[:client_id].nil? ? params[:user_id] : params[:client_id])) do |f| %>
  <%= f.error_notification %>
  <!-- <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %> -->
  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Name of the exercise' %>
    <%= f.input :description, input_html: { rows: 8 }, placeholder: 'Give some details: explanations, tips, considerations...' %>
    <%= f.input :goal, placeholder: 'What is the goal of this task?'%>
    <%= f.hidden_field :user_id, value: params[:client_id].nil? ? params[:user_id] : params[:client_id] %>
  </div>
  <div class="form-actions d-flex">
    <%= f.button :submit %>
    <%= button_tag "Clear", type: :reset, class: 'btn' %>
  </div>
<% end %>
