<div class="container p-4 col-6">
  <div class="card">
    <div class="card-header d-flex">
      <h2>Edit psychology task</h2>
      <%= link_to 'Back', :back, class: 'btn ml-auto' %>
    </div>
    <div class="card-body">
      <%= simple_form_for(@psychology_task, url: user_psychology_task_path(params[:client_id].nil? ? params[:user_id] : params[:client_id]), method: :put) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <%= f.input :name, placeholder: 'Name of the exercise' %>
          <%= f.input :description, input_html: { rows: 8 }, placeholder: 'Give some details: explanations, tips, considerations...' %>
          <%= f.input :goal, placeholder: 'What is the goal of this task?'%>
          <!--
          <% if @psychology_task.sent_by_id != current_user.id %>
            SENT BY HERE
          <% end %>
          -->
          <%= f.hidden_field :user_id, value: params[:client_id].nil? ? params[:user_id] : params[:client_id] %>
        </div>
        <br><br>
        <div class="form-actions">
          <%= f.button :submit %>
          <%= button_tag "Clear", type: :reset, class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
