<div class="d-flex justify-content-start" id="upper-toolbar">
  <div class="p-2">
    <%= link_to 'New Psychology Task', new_user_psychology_task_path(current_user), class: 'btn' %>
  </div>
  <div class="p-2">
    <%= link_to 'Delete all', user_physio_exercises_path(current_user), class: 'btn' %>
  </div>
  <div class="p-2">
    <%= link_to 'Download history', user_physio_exercises_path(current_user, :format => :pdf) , :format => :pdf, target: :_blank, class: 'btn' %>
  </div>
</div>

<div class="d-flex justify-content-center table-title">
  <h3>Psychology Exercises</h3>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @psychology_tasks.each do |psychology_task| %>
        <tr>
          <td class="text-center"><%= psychology_task.name %></td>
          <td class="text-center"><%= psychology_task.description %></td>
          <td class="text-center"><%= link_to 'Show', psychology_task %></td>
          <td class="text-center"><%= link_to 'Edit', edit_psychology_task_path(psychology_task) %></td>
          <td class="text-center"><%= link_to 'Destroy', psychology_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
