<div class="d-flex justify-content-start" id="upper-toolbar">
  <div class="p-2">
    <%= link_to 'New Psychology task', new_user_psychology_task_path(user_id: current_user.id), class: 'btn' %>
  </div>
  <div class="p-2">
    <%= link_to "Delete all", delete_all_user_psychology_tasks_path(current_user), :method => :get, class: 'btn btn-danger',
        data: { confirm: 'You are going to delete all your psychology tasks. This action cannot be undone. Are you sure?' } %>
  </div>
  <div class="p-2">
    <%= link_to 'Download report', "#", 
    {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn'} %>
  </div>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"><%= render 'psychology_tasks/modal' %></div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center table-title">
  <h3>Psychology Exercises</h3>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Goal</th>
        <th class="text-center"><%= sort_link(@q, :created_at) %></th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @psychology_tasks.each do |psychology_task| %>
        <tr>
          <td class="text-center"><%= psychology_task.name %></td>
          <td class="text-center description"><%= psychology_task.description %></td>
          <td class="text-center"><%= psychology_task.goal %></td>
          <td class="text-center"><%= psychology_task.created_at %></td>
          <td class="text-center">
            <%= link_to 'Show', user_psychology_task_path(user_id: current_user.id, id: psychology_task.id), class: 'btn' %>
            <%= link_to 'Edit', edit_user_psychology_task_path(user_id: current_user.id, id: psychology_task.id), class: 'btn' %>
            <%= link_to 'Delete', user_psychology_task_path(user_id: current_user.id, id: psychology_task.id), method: :delete, 
            data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= pagy_bootstrap_combo_nav_js(@pagy).html_safe %>