<div class="table-responsive">
  <table class="table table-hover table-details">
    <tr>
      <th>Name</th>
      <td><%= @exercise.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @exercise.description %></td>
    </tr>
    <tr>
      <th>Sets</th>
      <td><%= @exercise.sets %></td>
    </tr>
    <tr>
      <th>Reps</th>
      <td><%= @exercise.reps %></td>
    </tr>
    <tr>
      <th>Weight</th>
      <td><%= @exercise.weight %></td>
    </tr>
  </table>
</div>