<div class="d-flex justify-content-start" id="upper-toolbar">
  <div class="p-2">
    <%= link_to 'New exercise', new_user_exercise_path(current_user.id), class: 'btn' %>
  </div>
  <div class="p-2">
    <%= link_to 'Download history', user_exercises_path(current_user.id), class: 'btn' %>
  </div>
</div>
<div class="d-flex justify-content-center table-title">
  <h3>Exercises</h3>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Description</th>
      <th class="text-center">Sets</th>
      <th class="text-center">Reps</th>
      <th class="text-center">Weight (kg)</th>
      <th class="text-center">Date</th>
      <th class="text-center">Actions</th>
    </tr>
    <tbody>
      <% if !@exercises.nil? %>
        <% @exercises.each do |exercise| %>
          <tr>
            <td class="text-center"><%= exercise.name %></td>
            <td class="text-center"><%= exercise.description %></td>
            <td class="text-center"><%= exercise.sets %></td>
            <td class="text-center"><%= exercise.reps %></td>
            <td class="text-center"><%= exercise.weight %></td>
            <td class="text-center"><%= exercise.created_at %></td>
            <td class="text-center">
              <%= link_to 'Details', user_exercise_path(user_id: current_user.id, id: exercise.id), class: 'btn' %>
              <%= link_to 'Delete', user_exercise_path(user_id: current_user.id, id: exercise.id), 
            method: :delete, data: { confirm: "You are deleting '#{exercise.name}'. Are you sure" }, class: 'btn btn-danger' %>
              <%= link_to 'Edit', edit_exercise_path(user_id: current_user.id, id: exercise.id), class: 'btn' %>
            </td>
          </tr>
        <% end %>
      <% end%>
    </tbody>
  </table>
</div>
