<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <%= link_to 'Home', root_path %>
  </li>
  <li>
    <%= link_to 'Users', users_path %>
  </li>
  <%= render 'layouts/dropdown_training' %>
  <%= render 'layouts/dropdown_nutrition' %>
  <li>
    <!-- <%= link_to 'Clients', user_clients_path(current_user.id) %> -->
    <%= link_to 'Clients', user_contracts_path(current_user) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Appointments', user_appointments_path(current_user) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contact', root_path %>
  </li>
</ul>
