<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <div id="logo">
      <%= link_to 'Nutrain', root_path, class: 'navbar-brand logo' %>
    </div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navBarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navBarMenu">
      <% if current_user.type == 'Admin' %>
        <%= render 'layouts/navlinks_admin' %>
      <% elsif current_user.type == 'Client' %>
        <%= render 'layouts/navlinks_client' %>
      <% else %>
        <%= render 'layouts/navlinks_professional' %>
      <% end %>
      <%= render 'layouts/profile' %>
    </div>
  </nav>
<% end %>
