<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <%= link_to 'Home', root_path %>
  </li>
  <%= render 'layouts/dropdown_training' %>
  <%= render 'layouts/dropdown_nutrition' %>
  <li class="nav-item">
    <%= link_to 'Psychology', user_diets_path(current_user) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Physiotherapy', user_diets_path(current_user) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Search Professionals', users_path %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contracts', user_contracts_path(current_user.id) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Appointments', user_appointments_path(current_user.id) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contact', root_path %>
  </li>
</ul>
