<!DOCTYPE html>
<html>
  <head>
    <title>Nutrain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Comfortaa|Muli|Poppins|Sriracha|Quicksand&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="content">
  <header>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/navigation' %>
<!--    <p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>-->
  </header>
    <div class="container-fluid">
      <%= yield %>
    </div>
    </div>
  <div class="footer-box">
    <footer class="footer text-center">&copy; 2020 Daniel Suárez Cáceres. All rights reserved.</footer>
  </div>
  </body>

</html>
