<!DOCTYPE html>
<html>
  <head>
    <title>Nutrain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Comfortaa|Muli|Poppins|Quicksand&display=swap" rel="stylesheet">

</head>

  <body>
  <header>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
<!--    <p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>-->
  </header>
    <%= yield %>
  </body>
</html>
